*{
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html{
  font-size: 22px;
}

body{
  font-size: 1rem;
  height: 100vh;
  font-family: var(--font-montserrat), sans-serif;
  color: #202225;
  background-color: #000;
}

input, button{
    font-family: var(--font-montserrat), sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill::first-line,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    font-family: var(--font-montserrat), sans-serif !important;
    -webkit-background-clip: text;
    transition: background-color 5000s ease-in-out 0s;
}


::-webkit-scrollbar {
height: 8px;
width: 8px;
}

::-webkit-scrollbar-track {
background: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
background: #3b3b41;
}

::-webkit-scrollbar-thumb:hover {
background: #3b3b41;
}

.droptarget{
    background: rgba(0,0,0,0);
    transition: all 300ms
}

.droptarget.hover{
    background-color: rgba(0,0,0,0);
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes shadeanm {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	}
}


@media(max-width: 1400px){
    html{
        font-size: 20px;
    }
}

.hurt {
    z-index: -1;
}

.hurt .tokenSFX {
    z-index: 1;
    animation: 0.5s hurt cubic-bezier(0.39, 0.58, 0.57, 1);
}
  
.hurt .tokenSFX::before,
.hurt .tokenSFX::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    background-color: transparent;
    animation: 0.5s explosion cubic-bezier(0.39, 0.58, 0.57, 1);
}

.hurt .tokenSFX::after {
    transform: rotate(45deg);    
}
  
@keyframes hurt {
    0% {
        background-color: rgba(255,0,0,0.5);
    }
    100% {
        background-color: transparent;
    }
}
  
@keyframes explosion {
    0% {
        box-shadow: 
            0px 0 0 red,
            0px 0 0 red,
            
            0px 0 0 red,
            0px 0 0 red
        ;
    }
    100% {
        box-shadow: 
            -100px 0 0px 10px rgba(255,0,0,0),
            100px 0px 0px 10px rgba(255,0,0,0),
            
            0 -100px 0px 10px rgba(255,0,0,0),
            0 100px 0px 10px rgba(255,0,0,0)
        ;
    }
}   


.heal {
    z-index: -1;
}

.heal .tokenSFX {
    z-index: 1;
    animation: 0.5s heal cubic-bezier(0.39, 0.58, 0.57, 1);
}
  
.heal .tokenSFX::before,
.heal .tokenSFX::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    background-color: transparent;
    animation: 0.5s particles cubic-bezier(0.39, 0.58, 0.57, 1);
}

.heal .tokenSFX::after {
    transform: rotate(45deg);    
}

[role="presentation"] {
    z-index: 999999 !important;
}
  

@keyframes heal {
    0% {
        background-color: rgba(0,255,0,0.5);
    }
    100% {
        background-color: transparent;
    }
}
  
@keyframes particles {
    0% {
        box-shadow: 
            0px 0 0 green,
            0px 0 0 green,
            
            0px 0 0 green,
            0px 0 0 green
        ;
    }
    100% {
        box-shadow: 
            -100px 0 0px 10px rgba(0,255,0,0),
            100px 0px 0px 10px rgba(0,255,0,0),
            
            0 -100px 0px 10px rgba(0,255,0,0),
            0 100px 0px 10px rgba(0,255,0,0)
        ;
    }
}   